<h2><%= "#{@note.name}"%></h2>
<nav>
    <%= link_to "View Notes", notes_path %> 
    <%= link_to "View Chords", chords_path %>
</nav>

<p> <%= "Frequency: #{@note.pitch}" %> </p>
<p> <%= "Octave: #{@note.octave}" %> </p>
